<!DOCTYPE html>

<head>
<title>OpenSesame</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>

<body>
  <h1>OpenSesame Prototype</h1>
  <div class='container'>
    <p>things are brewin'</p>
  </div>
</body>
