<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Open Sesame</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<nav id='nav-placeholder'></nav>
<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Creating New OpenSesame Database</h1>
        </div>
    </div>

    <form id='new-database-contents' action='#'>
      <h3>Database Name</h3>
      <input type='text' name='db-name' placeholder='Database name'>
      <h3>Database Description</h3>
      <input type='text' name='db-description' placeholder='Description'>
      <h3>Open Data Source</h3>
      <input type='text' name='db-source' placeholder='Link source URL here'>
      <br><br>
      <input id='btn-add' class='btn' type='submit' value='Add new database'>


    </form>
</div>


<!-- <iframe src="https://docs.google.com/spreadsheets/d/1mIbTAMZNoOqIrGE4bGqD8uXZOVziZoJdRMMPM4Fxpto/pubhtml?gid=1481760327&amp;single=true&amp;widget=true&amp;headers=false">IFrame not working.</iframe> -->


<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/script.js"></script>



</body>
